{% extends "base.html" %}
{% load widget_tweaks %}
	{% block conteudo %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

<p>{{form.titulo.label}}: {{form.titulo}} </p>
<p>{{form.ingrediente.label}}: {{form.ingrediente}} </p>
<p>{{form.preparo.label}}: {{form.preparo}} </p>

<p>Tipo: {{form.tipox}} <a href="{% url 'cadastrar_tipo' %}">
<button type="button">Cadastrar Tipo</button></p>

<p>{{form.imagem.label}}: {{form.imagem}}</p>

<button type="submit" class="btn btn-primary" id="sendMessageButton">Salvar</button>
</form>

	{% endblock %}