<head>
	<title></title>
	<style type="text/css">

p {
	text-align: center;
	color: #585858;
	font-family: italic;
	font-size:30px
	
	}
body {background-color:#F7BE81}

</style>
</head>
<h1>Receitas</h1>
<h1>Cadastrar mais receitas</h1>
<a href="{% url 'cadastrar_receita' %}">
<button type="button">Cadastrar</button>
</a>

<p>Lista de Receitas:</p>
{% for receita in lista_receitax %}
<p><img src="/media/{{imagem.imagem}}" alt="" width="100px"
height="100px"/></p>
<p>{{receitax.receita}}</p>
{% empty %}
<p>Nenhuma receita cadastrada</p>
{% endfor %}

