<head>
	<title></title>
	<style type="text/css">

p {
	
	color: #585858;
	font-family: italic;
	font-size:20px
	
	}
body {background-color:#F7BE81}

</style>
</head>



<h1>Receitas</h1>
<h1>Cadastrar mais receitas</h1>
<a href="{% url 'cadastrar_receita' %}">
<button type="button">Cadastrar</button>
</a>

<p>Lista de Receitas:</p>
{% for receita in lista_receitas %}
<p><img src="/media/{{receita.imagem}}" alt="" width="100px"
height="100px"/></p>

<p>{{receita.titulo}}</p>
<p>{{receita.ingrediente}}</p>
<p>{{receita.preparo}}</p>
<p>{{receita.tipox}}</p>
{% empty %}
<p>Nenhuma receita cadastrada</p>
{% endfor %}

